
.App
{
  background: #28294c;
  padding: 1rem ;
  margin: 6rem 11rem 0rem 11rem;
  height: 37.8rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: 2px 2px 15px 0.1px #111;
}
#navlogo
{
  color: #eeeeee;
}
#hlink{color: #ddd  !important;
font-size: 1.2rem;
margin-left: 45rem;
}
Nav button{
  color: #eee;
  position: absolute;
  right: 1rem;
}