@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.App {
    padding: 1rem;
    z-index: 10;
}

#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#navlogo {
    color: #eeeeee;
}

#hlink {
    color: #fef !important;
    font-size: 1.2rem;
    margin: 0px 0.5rem;
}

.c1 {
    margin-top: 3rem;
    margin-left: 10rem;
    padding: 0.5rem;
}

#img1 {
    width: 80%;
    margin-top: 5rem;
}

.c2 {
    justify-content: flex-end;
}

.para1 {
    color: #ccc;
    font-weight: 350;
    padding-top: 2rem;
    margin: 1rem 0rem;
    padding-bottom: 2rem
}

.text1 {
    color: #fefefe;
    font-weight: 800;
    font-size: 5rem;
    line-height: 4.5rem;
}

Button {
    background-color: orange !important;
    transition: background-color linear 500ms !important;
    transition: outline-offset 250ms ease !important;
    border: none !important;
}

#register {
    width: 5rem !important;
    margin: 0px 0.5rem;
}

#btn1 {
    border-radius: 5rem !important;
    border: none !important;
    width: 15rem;
    height: 3rem;
    font-size: 1.33rem !important;
}

Button:hover {
    background-color: darkorange !important;
}


/*------------------ HOME PAGE ----------*/


#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#navlogo {
    color: #eeeeee;
}

#hlink {
    color: #fef !important;
    font-size: 1.2rem;
    margin: 0px 0.5rem;
}

.c1 {
    margin-top: 5rem;
    margin-left: 10rem;
    padding: 0.5rem;
}

.c3 {
    padding: 0.7rem;
}

#img1 {
    width: 80%;
    margin-top: 5rem;
}

.c2 {
    justify-content: flex-end;
}

.para1 {
    color: #ccc;
    font-weight: 350;
    padding-top: 2rem;
    margin: 1rem 0rem;
    padding-bottom: 2rem
}

.text1 {
    color: #fefefe;
    font-weight: 800;
    font-size: 5rem;
    line-height: 4.5rem;
}

#btn2 {
    background: #4950a1 !important;
    width: 8rem;
    border-radius: 2rem;
    height: 2.8rem;
}

#btn3 {
    background: #4d6afe !important;
    width: 12rem;
    border-radius: 2rem;
    height: 2.8rem;
}

#btn3:hover {
    background-color: #feb950 !important;
    color: #546efe !important;
}

#navreg {
    color: #4951a1 !important;
}

#navreg:hover {
    color: #111111 !important;
}

.para2 {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* margin-left: 9rem; */
}

#btn2:hover {
    background-color: #eeaa37 !important;
    color: #4950a1;
}

.c4 {
    padding-top: 3rem;
    background: white;
}

.c4 .form-group {
    margin: 2rem 5rem;
    /* width: 23.5rem; */
}

.c4 form {
    text-align: center;
}

.c4 .form-group input {
    height: 2.7rem;
}

.text2 {
    color: #222;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem !important;
    /* line-height: 4.5rem; */
}

Button {
    background-color: orange !important;
    transition: background-color linear 500ms !important;
    transition: outline-offset 250ms ease !important;
    border: none !important;
}

#register {
    width: 5rem !important;
    margin: 0px 0.5rem;
}

#btn1 {
    border-radius: 5rem !important;
    border: none !important;
    width: 15rem;
    height: 3rem;
    font-size: 1.33rem !important;
}

Button:hover {
    background-color: darkorange !important;
}

#gif2 {
    background: url("https://firebasestorage.googleapis.com/v0/b/duo-louge.appspot.com/o/mygif3.gif?alt=media&token=496d4256-abe7-4ea0-a4bd-570a055122f2") no-repeat center;
    /* background-size: cover; */
    height: 35rem;
}

#gif4 {
    background: url("https://firebasestorage.googleapis.com/v0/b/duo-louge.appspot.com/o/ezgif.com-gif-maker%20(2).gif?alt=media&token=88e39536-104f-4e0e-9bbc-e2c34a01e397") no-repeat center;
    height: 35rem;
    background-size: cover;
}

.innerlogin,
.innerregister {
    margin-right: 0px !important;
    box-shadow: 1px 1px 14px 0.5px #23336e;
}

.logindiv,
.registerdiv {
    height: 35rem;
    margin: 5rem;
}
/* Home and chats */
.maincontainer{
    padding: 5rem 7rem;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
height: 100vh;
}
.innercontainer{
    
    height: 34rem;
}
.userphoto{
    font-size: 3rem;
    color: #EEE;
    filter: drop-shadow(0px 3px 3px #234);
}
.userinfo{
    margin-top: 2rem;
    padding: 1rem 0.1rem 1rem 0rem;
    text-align: center;
    margin-left: -2rem;
    text-align: center;
    margin-top: 2rem;
}
.messaging{
    border-radius: 2rem;
    background: linear-gradient(to bottom, #fefefe,#d5dcf4);
    /* z-index: 1000000; */
    margin-left: -2rem;
    box-shadow: 2.6px 1.6px 1rem -7px #484a78;
}
.r1{
    padding: 0.5rem 0rem;
    align-items: center;
}
.menuoptions{
    padding: 1rem;
}
.option{
    /* padding-left: 1rem; */
    cursor: pointer;
    margin-bottom: 1rem;
}
.r1:hover{
    background: rgba(189,156,235, 0.5)

}
.optionicon
{
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #eee;
    margin-right: 1rem;
    opacity: 0.7;
    padding-top: 0px;
}
.optiontag
{
    
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 1px;
    color: #fefefe;
    opacity: 0.7;
    margin-top: 6px;

}

.menu{
    padding-left: 0px !important;
    box-shadow: -2.6px 1.6px 1rem -7px #484a78;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-image: linear-gradient( to bottom,  #9c67e5cf, rgba(125,89,252,1) 91.1% );
}
.userNames{
    padding-top: 1rem;
    color: #fefefe;
    font-family: monospace;
    letter-spacing: 0px;
    filter: drop-shadow(1px 1px 2px #9c67e5cf);

}
/* home end */
/* Chats */
.searchbar{
    display: flex;
    align-items: center;
}
.searchbar svg{
    font-size: 1.3rem;
    margin-left: -2.5rem;
    color: #aaa;
    cursor: pointer;
}
.innerimg img{
    height: 4.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    width: 4.5rem;
}
.messaging h2{
    font-size: 2.5rem;
    font-family: system-ui;
    font-weight: 600;
    color: rgba(0,20,100);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.allchats{
    margin-left: 2rem;
    padding-top: 1rem;
    padding-left: 2px;
}
.userchats,.currentuserchats{
    cursor: pointer;
    background: linear-gradient(120deg,#fefefe,#efffff);
    padding: 0.5rem 0.1rem 0rem 1.2rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 10px -7px rgba(0,0,0,150);
    width: 90%;
   
    transition: transform 300ms ease-in-out;

    
}
.currentuserchats .r3{
    align-items: center;
    padding-left: 15px;
}
.currentuserchats .r3 h6{
    font-size: 20px;
    margin-left: 5px;
}
.status{
    height: 0.6rem;
    position: absolute;
    left: 12rem;
    width: 0.6rem;
    background: green;
    border-radius: 50%;
}
.currentuserchats{
    padding-left:1rem ;
    padding-bottom: 5px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;
}
.allchats{
    overflow-y: scroll;
    height: 25rem;
    overflow-x: auto;
   

        
      
}
.allchats::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
    display: none;
}
.para3{
    
    font-size: 0.85rem;
    font-weight: 500;
    color: #aaa;
    opacity: .9;
    letter-spacing: 0.3px;
    margin-top: 12px;
    margin-bottom: 5px;

}
.allchats::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    display: none;
}

.allchats::-webkit-scrollbar-thumb
{
    display: none;
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.userchats:hover{
   
   box-shadow: 0.6px 0.6px 11px -6px;
 transform :scale(0.9) ;
}
.userchats:focus,.userchats:active{
    background: #eee;
}
.chatinfo{
    padding: 5px 1px 0px 7px
}
.userchats .r2 .chatinfo h6{
    color: rgba(54,49,138);
    margin-top: 3px;
    line-height: 0px;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.85;
    font-family: system-ui;
}
.userpic{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid gray;
    background-clip: content-box;
}
.searchbar input{
    height: 2.7rem;
    border-radius: 0.7rem !important;
    width: 90% !important;
    padding: 1rem;
    font-weight: 500;
    border: none;
    box-shadow: 0.5px 0.5px 0.5rem -5px;
}
.searchbar input:focus,.searchbar input:active{
    outline: none !important;
}
.currentchat{
    background: #f2f5fc;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 7px -6px;
}
.typemessage{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
}
.typemessage .row{
    width: 100%;
    padding: 0rem 1rem;
    align-items: center;
}
.messages{
    background: #fff;
    height: 22rem;
    padding: .8rem;
}
.sent{
    color: white;
    height: auto;
    width: max-content;
    background: #6b1aff;
    padding: 0.7rem;
    border-radius: 5px;
    float: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.recieved{
    max-width: 10rem;
    height: auto;
    background: #eef2fd;
    padding: 0.7rem;
    width: fit-content;
    border-radius: 5px;
    float: left;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}
.typemessage .row svg{
    font-size: 30px;
    margin: 10px;
    color: #9e8bf0;
    cursor: pointer;
}
.typemessage .row svg:hover{
    color: indigo;
    opacity: 0.9;
}
.menuoptions a:hover{
    text-decoration: none;
}
.typemessage textarea{
    width: 85%;
    margin-top: 0px;
    padding-top: 0.8rem;
    text-align: justify;
    margin-bottom: 0px;
    height: 50px;
    border: none;
    resize: none;
    box-shadow: 1px 1px 10px 1px #e0e4f0;
    border-radius: 0.7rem;

}
.changephoto .row{
    align-items: center;
}
.changephoto h6{
    font-size: 1.1rem !important;
    font-weight: 700;
    font-family: system-ui;
    padding: .3rem;
}
.changephoto{
    margin-left: 2rem;
    border-bottom: 2px solid #daece1;
    padding-bottom: 10px;
    padding-left: 1rem;
}
.details1{
    margin-left: 2rem;
    padding: 1rem;
    border-bottom: 2px solid #d1e0d7;
}
.details1 h6{
    font-weight: 700;
}
.takename{
    margin-right: 2rem;
}
.parent2{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 33rem;
}
.details1 p{
    font-size: 0.8rem;
    color: #999;
    font-family: serif;
    font-weight: 600;
    opacity: 0.9;
}

#mybtn3{
    margin-left: 10rem;
    width: auto !important;
    background: transparent !important;
    color: #999 !important;
    font-weight: 700;
    margin-top: -2rem;
    transition: transform 200ms ease !important;
}
#mybtn4{
    width: 12rem !important;
    height: 2.5rem !important;
    margin-left: 33rem;
    transition: transform 300ms ease-in-out !important;
}
#mybtn4:hover{
    transform: scale(1.1);
}
#myrow1{
    align-items: center;
    border-bottom: 2px solid #d1e0d7;
    margin-left: 2rem;
}
#myrow1 .details1{
    border: none;
    margin-left: 0px;
}
#myrow1 .col{
    padding-left: 0px;
}
#mybtn3:hover{
    color: #4950a1 !important;
    transform: scale(1.1);
}
.parent2::-webkit-scrollbar{
    display: none;
}
.takename input{
    width: 80%;
    box-shadow: 0.5px 0.5px 6px -4px;
    background: rgba(255,255,255,0.7    );
    border-radius: .6rem;
}

.takegender select{
    width: 40%;
    box-shadow: 0.5px 0.5px 6px -4px;
    background: rgba(255,255,255,0.7    );
    border-radius: .6rem;
}
#profileimage{
    padding: 0.4rem 1.2rem ;
    cursor: pointer;
}
.btn6,#profileimage{
    width: 6rem;
    border-radius: 0.7rem;
    height: 2.3rem;
    margin: 0.5rem 0.3rem;
    background: #fefefe !important;
    font-weight: bold;
    color: #4951a1;
    transition: background-color 500ms linear !important;
    box-shadow: 0.7px 0.7px 7px -5px #222;
}
#mybtn1{
    color: #aaa !important;
}
#mybtn1:hover{
    color: white !important;
}
.btn6:hover,#profileimage:hover{
    color: white;
    background-color: #9e8bf0 !important;
    
    
}
.btn6:focus,#profileimage:focus{
    color: #4951a1 !important;
}
.c5{
    margin-top: -5rem;
    
    
}
/* chat end */

@media only screen and (max-width:1030px){
    .maincontainer{
        padding: 2.5rem 7rem;
    }
}

@media only screen and (max-width: 990px) {
    .c3 {
        position: absolute;
        right: 1rem;
    }
    #hlink,
    #register {
        margin: 0.5rem 0rem;
    }
    .text1 {
        font-size: 4rem;
    }
}