@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.App {
    padding: 1rem;
    z-index: 10;
}

#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#navlogo {
    color: #eeeeee;
}

#hlink {
    color: #fef !important;
    font-size: 1.2rem;
    margin: 0px 0.5rem;
}

.c1 {
    margin-top: 5rem;
    margin-left: 10rem;
    padding: 0.5rem;
}

#img1 {
    width: 80%;
    margin-top: 5rem;
}

.c2 {
    justify-content: flex-end;
}

.para1 {
    color: #ccc;
    font-weight: 350;
    padding-top: 2rem;
    margin: 1rem 0rem;
    padding-bottom: 2rem
}

.text1 {
    color: #fefefe;
    font-weight: 800;
    font-size: 5rem;
    line-height: 4.5rem;
}

Button {
    background-color: orange !important;
    transition: background-color linear 500ms !important;
    transition: outline-offset 250ms ease !important;
    border: none !important;
}

#register {
    width: 5rem !important;
    margin: 0px 0.5rem;
}

#btn1 {
    border-radius: 5rem !important;
    border: none !important;
    width: 15rem;
    height: 3rem;
    font-size: 1.33rem !important;
}

Button:hover {
    background-color: darkorange !important;
}


/*------------------ HOME PAGE ----------*/

#app_body {
    /* background-image: url("https://image.freepik.com/free-photo/pastel-tone-purple-pink-blue-gradient-background_49683-3955.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: white;
    height: 100vh;
    display: grid;
    place-items: center;
}

.box {
    background-color: #fdfdfd;
    display: flex;
    width: 100%;
    height: 99vh;
    margin-bottom: 1rem;
    margin-top: 0;
    /* box-shadow: -1px 4px 15px -6px rgb(75, 74, 74); */
}

.sidebar {
    flex: 0.41;
    border-right: 1px solid gainsboro;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #f1d566;
    /* border-top-left-radius: 1rem; */
}

.info {
    font-size: 1rem;
    font-weight: bold;
}

.info p {
    margin-bottom: 0rem;
}

.info .job {
    margin-top: -0.2rem;
    font-weight: 100;
}

.settings .MuiSvgIcon-root {
    font-size: 1.3rem !important;
    color: rgb(95, 94, 94);
}

.MuiSvgIcon-root {
    font-size: 2rem !important;
}

#search_bar {
    display: flex;
    padding: 0.2rem;
    margin: 0.4rem 1rem;
    border: 1.5px solid gainsboro;
    align-items: center;
    border-radius: 0.3rem;
}

#search_bar .MuiSvgIcon-root {
    font-size: 1.4rem !important;
}

#search_bar input {
    border: none;
    border-radius: 0.3rem;
}

#search_bar input:hover {
    border: none;
}

.sidebar h6 {
    margin-left: 1rem;
}

.Allchats {
    display: flex;
    padding: 0.5rem;
    background-color: white;
    border-bottom: 1px solid gainsboro;
}

.Allchats:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.609);
}

.Allchats h6 {
    font-size: 1rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
}

.Allchats .face {
    font-size: 1rem !important;
}

.Allchats .sidechat {
    font-weight: 400;
    font-size: 0.8rem;
}

.Chat_section {
    /* padding: 1.5rem; */
    flex: 1;
    border-right: 1px solid cadetblue;
    background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cGF0dGVybnxlbnwwfHwwfHdoaXRl&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chats {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1.3rem;
}

.chats .MuiSvgIcon-root {
    font-size: 1rem !important;
}

.chat_content {
    margin: 0.7rem 0rem;
    display: flex;
    background-color: #e7ecf0;
    width: fit-content;
    padding: 0.13rem 0.4rem;
    border-radius: 0.4rem;
}

.chatting {
    margin: 0.9rem 2.5rem;
    width: fit-content;
}

.chatting h6 {
    line-height: 0.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 0.7rem;
}

.chat_content p {
    font-size: 1.2rem;
}

.reciever {
    margin-left: auto;
}

.reciever .chat_content {
    background-color: #F4D03F;
}

.chat_content .time_stamp {
    position: relative;
    top: 75%;
    font-size: 0.7rem;
    color: #a29898;
}

.Chat_section .chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 64%;
    padding: 0.5rem;
    margin: 0.2rem 0rem;
    border: 1px solid gainsboro;
    background-color: #f1f1f1;
}

.chat_footer input {
    border: none;
    width: 100%;
    border-radius: 0.3rem;
    margin: 0.1rem 0.4rem;
    padding: 0.4rem;
}

.chat_footer .MuiSvgIcon-root {
    color: rgb(92, 92, 104);
    font-size: 1.3rem !important;
}

.chat_footer .MuiIconButton-root .MuiSvgIcon-root {
    color: rgb(238, 237, 237);
}

.chat_footer .MuiIconButton-root {
    background-color: #F4D03F !important;
    padding: 0.9%;
    margin-left: 0.4rem;
}

.chat_footer .MuiIconButton-root:hover {
    background-color: #F7DC6F !important;
}

@media only screen and (max-width:1390px) {
    .Chat_section .chat_footer {
        top: 100%;
    }
}

@media only screen and (max-width: 990px) {
    .c3 {
        position: absolute;
        right: 1rem;
    }
    #hlink,
    #register {
        margin: 0.5rem 0rem;
    }
    .sidebar {
        flex: 0.15;
    }
}


/*============*/

#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#navlogo {
    color: #eeeeee;
}

#hlink {
    color: #fef !important;
    font-size: 1.2rem;
    margin: 0px 0.5rem;
}

.c1 {
    margin-top: 5rem;
    margin-left: 10rem;
    padding: 0.5rem;
}

.c3 {
    padding: 0.7rem;
}

#img1 {
    width: 80%;
    margin-top: 5rem;
}

.c2 {
    justify-content: flex-end;
}

.para1 {
    color: #ccc;
    font-weight: 350;
    padding-top: 2rem;
    margin: 1rem 0rem;
    padding-bottom: 2rem
}

.text1 {
    color: #fefefe;
    font-weight: 800;
    font-size: 5rem;
    line-height: 4.5rem;
}

#btn2 {
    background: #4950a1 !important;
    width: 8rem;
    border-radius: 2rem;
    height: 2.8rem;
}

#btn3 {
    background: #4d6afe !important;
    width: 12rem;
    border-radius: 2rem;
    height: 2.8rem;
}

#btn3:hover {
    background-color: #feb950 !important;
    color: #546efe !important;
}

#navreg {
    color: #4951a1 !important;
}

#navreg:hover {
    color: #111111 !important;
}

.para2 {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* margin-left: 9rem; */
}

#btn2:hover {
    background-color: #eeaa37 !important;
    color: #4950a1;
}

.c4 {
    padding-top: 3rem;
    background: white;
}

.c4 .form-group {
    margin: 2rem 5rem;
    /* width: 23.5rem; */
}

.c4 form {
    text-align: center;
}

.c4 .form-group input {
    height: 2.7rem;
}

.text2 {
    color: #222;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem !important;
    /* line-height: 4.5rem; */
}

Button {
    background-color: orange !important;
    transition: background-color linear 500ms !important;
    transition: outline-offset 250ms ease !important;
    border: none !important;
}

#register {
    width: 5rem !important;
    margin: 0px 0.5rem;
}

#btn1 {
    border-radius: 5rem !important;
    border: none !important;
    width: 15rem;
    height: 3rem;
    font-size: 1.33rem !important;
}

Button:hover {
    background-color: darkorange !important;
}

#gif2 {
    background: url("https://firebasestorage.googleapis.com/v0/b/duo-louge.appspot.com/o/mygif3.gif?alt=media&token=496d4256-abe7-4ea0-a4bd-570a055122f2") no-repeat center;
    /* background-size: cover; */
    height: 35rem;
}

#gif4 {
    background: url("https://firebasestorage.googleapis.com/v0/b/duo-louge.appspot.com/o/ezgif.com-gif-maker%20(2).gif?alt=media&token=88e39536-104f-4e0e-9bbc-e2c34a01e397") no-repeat center;
    height: 35rem;
    background-size: cover;
}

.innerlogin,
.innerregister {
    margin-right: 0px !important;
    box-shadow: 1px 1px 14px 0.5px #23336e;
}

.logindiv,
.registerdiv {
    height: 35rem;
    margin: 5rem;
}

@media only screen and (max-width: 990px) {
    .c3 {
        position: absolute;
        right: 1rem;
    }
    #hlink,
    #register {
        margin: 0.5rem 0rem;
    }
    .text1 {
        font-size: 4rem;
    }
}