body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("https://firebasestorage.googleapis.com/v0/b/duo-louge.appspot.com/o/ezgif.com-gif-maker%20(1).gif?alt=media&token=bbedb5db-c632-4f2c-ac7a-f45ee3c2ce80") no-repeat; */
  /* background-size: cover; */
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
